$color--primary: #333333;
$color--off-primary: #ffffff;
$color--secondary: #ffffff;
$color--off-secondary: #333333;

$color--black: #333333;
$color--gray: #666666;
$color--gray-xlight: #bdbdbd;
$color--white: #ffffff;
$color--red: #cc0000;

$color--disabled: #666666;
