.List {
  @include flex-row-start;
  background: $color--white;
  box-shadow: 1px 1px $color--gray-xlight;
  height: 30px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.ListItem {
  margin-right: $spacing--xxs;
}
