@mixin flex-column-start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@mixin flex-row-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

@mixin flex-row-start {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@mixin flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
